<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
</head>
<body>
    <% if (kindOfDay === "Sunday" || kindOfDay === "Saturday"){ %>
        <h1 style="color: red;">It is a <%= kindOfDay %></h1>
    <% } else {  %>
        <h1 style="color: blue;">It is a <%= kindOfDay %></h1>
    <%} %>
    
</body>
</html>